// SCSS file for Director view mode

#block-nc-theme-webform-3 // 'Director' webform
{
    h2.block-title  // 'Director Request' title
    {
        text-align: center;
    }

    #webform-submission-director-request-form-ajax
    {
        width: 50%;  
        margin: 0 auto;     // Centralizing the webform
    }
}