// SCSS file for Home Page and Movie Card view mode

.input-group    // Search icon
{
    visibility: hidden;     
}

#block-nc-theme-mainnavigation  // Main navigation
{
    text-align: center;
    margin-left: 16rem;
}

#superfish-main             // Quick Links
{
    margin-left: 6rem;
}

h1.page-title.mt-0.mb-0  // 'Home Page' title
{
    font-size: 140%;
    text-align: center;
}

h2.mt-0  // Movie content type titles
{
    font-size: 100%;
    text-align: center;
}

.container  // Movie content type container
{
    img 
    {
    width: 280px;  
    height: auto;  
    margin: 0 auto; 
    }
}

.node__submitted  // Submission date
{
    visibility: hidden;
}


.field__label  // Movie content type 'Description' title
{
    text-align: center;
}

.field.field--name-field-description.field--type-string-long.field--label-above  // Movie content type 'Description' field
{
    margin-top: 5%;
}

.contextual-region.node.node--type-movie.node--promoted.node--view-mode-movie-card // Movie content type block
{
    margin: 10px;
}


.views-col.col-1 // Arrival movie content
{
    .field.field--name-field-description.field--type-string-long.field--label-above  // Description field
    {
        margin-top: 6%;         
    }
}
    
.field__item // Field items of Movie content type
{
    text-align: center;
}

#block-nc-theme-webform  //'Movie Request' Webform
{
    h2.block-title  // 'Movie Request' title
    {
        text-align: center;
    }

    #webform-submission-movie-request-form-ajax    // Webform
    {
        width: 50%;  
        margin: 0 auto;     // Centralizing the webform
    }
}