// SCSS file for Movie Content type

.node__meta     // Submitted info
{
    visibility: hidden;     
}

.main_navigation        // Main navigations menu 
{
    position: relative;
    left: 40px;
}

#block-nc-theme-movieratingblock        // Movie Rating custom block
{
    margin: 0;
    margin-left: 20%;
}

.block__movie_rating_title        // Movie Average Rating block title
{
    visibility: hidden;
}

div[region="content"]       // Average Rating region
{
    width: 200px;
}

#block-nc-theme-movieratingblock       // Average movie rating custom block
{
    position: relative;
    left: 40rem;
    width: 100px;
    height: 100px;
}

.btn.btn-primary        // Rate button
{
    position: absolute;
    bottom: 14.5rem;
    right: 18rem;
}

// Movie Poster
.field.field--name-field-movie-poster-node.field--type-image.field--label-hidden.field__item 
{
    float: left;
    margin: 1px;
    margin-left: 117px;
}

// Movie Trailer
.field.field--name-field-media-oembed-video.field--type-string.field--label-hidden.field__item
{
    width: 61%;  
    height: auto;  
    margin-left: 25rem;  
}

.movie-genres       // Movie Genres field
{
    padding-bottom: 20px;
    margin-left: 5rem;
}

.movie-genres li, // Movie Genres items
.movie-stars li        
{
    float: left;
    flex-wrap: wrap;
}

.field__label__description      // Description field label
{
    visibility: hidden;
}

.movie-stars    // Movie ul class
{
    position: relative;
    list-style-type: none;
    bottom: 10px;
}

.movie-stars li    // Movie Stars li class
{
    margin: 10px;
}

.field__director,   // Director field
.field__stars        // Stars field
{
    display: flex;
    flex-wrap: wrap;
}

.field__stars       // Stars field
{
    height: 40px;
}

.field__items       // Each fields' contents
{
    margin-left: 20px;
}

.field-separator        // Separator used after director and content fields
{
    margin: 1%;
    margin-top: 5px;
}

.field__release_year  // Release year
{
    display: flex;
    gap: 0.5rem;
}

// Movie Rating page
    .button.js-form-submit.form-submit.btn.btn-primary.form-control     // Submit button
    {
        position: inherit;
    }

    .button.back-button-class       // Go back movie link
    {
        margin: 10px;
    }